.header {
    display: flex;
    font-size: 1.3em;
    height: 20vh;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px black solid;
    img {
        width: 200px;
        height: 80px;
    }
    nav a{
        margin: 10px;
    }
}
@media screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
    }
}
