<div class="header">
    <img class="logo" id="logo" src="/assets/img/aseman-logo-color.png" alt="">
    <img class="d-none logo" id="logo-nocart" src="/assets/img/aseman-logo-nocart.png" alt="">
    <img class="d-none logo" id="logo-small" src="/assets/img/aseman-logo-small.png" alt="">
    <img class="d-none logo" id="logo-nocart-small" src="/assets/img/aseman-logo-nocart-small.png" alt="">

    <nav>
        <a routerLink="">Home</a>
        <a routerLink="products">Products</a>
        <a class="d-none cart-icon" routerLink="shopping-cart" id="cart-icon">-</a>
        <a routerLink="contact">Contact</a>
        <a routerLink="about-us">About us</a>
    </nav>
    

</div>
