.footer {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8em;
    background-color: white;

    p, span{
        margin: 0;
        padding: 0;
    }
}


