.category-box {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    box-shadow: 0px 11px 11px -1px #C7C7C7;

    //Content will shrink depending on the width but with min size for mobile view
    height: 25vw;
    width: 20vw;
    min-width: 9em;
    min-height: 11em;
    
    padding: 0;
    margin: 1vh;
    border-radius: 15px;
    overflow: hidden;
    animation: appearAni 2s ease;
    @keyframes appearAni {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }  
    }

    .image-container {
        display: flex;
        position: relative;
        height: 85%;
        width: 100%;
        img {
            display: flex;
            position: relative;
            height: 100%;
            width: 100%;
        }  
    }
   
    .title-container {
        display: flex;
        position: relative;
        height: auto;
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
        h2 {
            font-weight: normal;
            font-size: 15px;

        }
    }
}