<div class="home">
    <div class="order-box">
        <p class="bautext">Wir bauen um!</p>
        <img class="umbau" src="/assets/img/umbau.png" alt="Wir bauen um!">
        <p class="bautext">Bitte haben Sie Geduld.</p>
    </div>
    <div class="order-box">
        <div id="sonderaktion-flyer"><a href="/assets/documents/flyer.pdf" target="_blank"><span>SONDERAKTION
                    FLYER</span></a></div>
        <p class="info text">Bestellen Sie jetzt über:</p>
        <p class="info text chat">
            <a href="https://wa.me/4917663636480"><img src="/assets/img/whatsapp.png"
                    alt="WhatsApp"></a>
            <a href="https://www.telegram.me/aseman_lebensmittel"><img
                    src="/assets/img/telegram.png" alt="Telegram"></a></p>
        <p class="info text">Oder per E-Mail:</p>
        <p class="info email"><a href="mailto:info@aseman-lebensmittel.de">info@aseman-lebensmittel.de</a></p>
    </div>
</div>